.dropdown-menu {
	top: 45px;
	left: auto;
	right: 40px;
	&:before {
		content: "";
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-left: 10px solid #dedede;
		border-bottom: 8px solid transparent;
		border-right: 0;
		position: absolute;
		left: 100%;
		right: auto;

	}
	&>li {		
		a{
			font-size: 18px;
			padding: 8px 20px;
		}
		i {
			margin-right: 20px;
			width: 20px;
			text-align: center;
		}
	}
	@include mq(md){
		left: calc(100% - 10px);
		top: 10px;
		right: 0px;
		&:before {
			border-right: 10px solid #dedede;
			border-left: 0;
			left: auto;
			right: 100%;
		}
	}
}