.main-page {
	margin-top: 50px;
	padding: 10px 20px;
	@include mq(md) {
		padding: 0;
	}
	.note{
		margin: 20px 0;
	}
}
.table-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	@include mq(md) {
		flex-direction: row;
	}
	.btn {
		margin-top: 10px;
		margin-left:auto;
		@include mq(md) {
			margin-top: 0;
		}
	}
}
.searchbar-container {		
	background: #F5F6FA;	
	border-radius: 15px;
	position: relative;
	padding: 2px 30px 2px 20px;
	width: 100%;
	margin-top: 10px;
	@include mq(md) {
		width: 400px;
		margin-left: 30px;
		margin-top: 0;
	}
	.searchbar {
		border: 1px solid #F5F6FA;
		background: #F5F6FA;
		height: 30px;
		width: 100%;
		
		&:focus {
			outline: none;
		}
	}
	&:before {
		content: "\f002";
		font-family: 'fontawesome';
		position: absolute;
		right: 10px;
		top: 6px;
		color: #b0b0b0;
	}
}
.page-title {
	font-size: 40px;
	color: #4D4F5C;
	font-weight: normal;
	font-family: 'montserrat'
}